body{
	background-color: #EEE;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
  color: #9ed9e0;
}
a:active {
  color: black;
}
#header{
	background-color: #77C9D4;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: white;
}
#container{
	background-color: #57BC90;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	color: white;
}
#content{
	padding: 10px;
}
#nav{
	width: 180px;
	float: left;
	font-weight: 50;
	font-size:25px;
	padding:20px;

}
#main{
	width:900px;
	float:right;
	height: 900px;
}
#footer{
	 clear: both;
}
.profileimage{
	display: block;
  margin-left: auto;
  margin-right: auto;
}
.smallheading{
	color: #015249;
	font-weight: bold;
}
#footer{
	background-color: #A5A5AF;
	text-align: right;
	padding: 10px;
}
li{
	margin:17px;
}
#nav ul{
	list-style-type: none;
	padding: 0;
}
#nav .selected{
	font-weight: bold;
}
.eduimage{
	float: right;
	 border: 1px solid #ddd;
  border-radius: 4px;
}

.edu{
	padding: 70px;
	font-size:24px;
	margin: 10px;
}
.workHeading{
	text-align: center;
}
.workText{
	margin: 60px;
	font-size: 18px;
}
.workImage{
  border: 1px solid #ddd;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.projectsimage{
	float: right;
	 border: 1px solid #ddd;
  border-radius: 4px;
}
.projects{
	padding: 70px;
	font-size:24px;
	margin: 10px;
}
#projectsHeading{
	text-align: center;
}
.projectText{
	text-align: center;
}